container_commands:
  01-runswapsetupscript:
    command: "/bin/sh .ebextensions/scripts/add-swap-space.sh"
  02-renameEnvFile:
    command: "sudo cp .env.eb .env"
    #command: "sudo cp .env.develop .env"
  #03-chmodForLogsmightnotbenecessary:
    #command: "sudo chmod -R 777 /var/app/current"
  04-migrate&seed:
    command: "php artisan migrate:refresh --seed"
